* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	
}
h1 {
	background-color: #0ba6ff;
	font-size: 40px;
}
a {
	color: white;
	text-align: center;
	
}
/* style the header */
header {
	background-color: #db5f12;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white; 
}
/* container for flexboxes */
section {
	display: -webkit-flex;
	display: flex;
}
/* style the navigation menu */
nav {
	

	-webkit-flex: 1;
	-ms-flex: 1;
	background-image: url("tesla1.jfif");
	padding: 20px;
}
/* style the list inside the menu */
nav ul {
	margin: 80px;
	list-style-type: none;
	padding: 0;
	font-size: 20px;
}
/* style the content */
article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	background-color: white;
	padding: 100px;

}
/* style the footer */
footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}
/* responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}